.draggable-container {
  position: relative;
  width: 10rem;
  height: 10rem;
  border: 1px solid #a9a9a9;
  margin: 0.5rem;
}

story-draggable {
  display: flex;
  flex-wrap: wrap;
}

story-calendar {
  display: block;
  width: 15rem;
}

story-tab {
  display: block;
  width: 100%;
  height: 100%;
}

story-input {
  width: 15rem;
}

story-input mambo-input {
  margin-bottom: 0.5rem;
}

slider-horizontal {
  display: block;
  width: 20rem;
  height: 3rem;
  margin-bottom: 1rem;
}

slider-vertical {
  display: block;
  width: 3rem;
  height: 20rem;
}

story-tab mambo-tab:nth-child(1) {
  display: block;
  margin-bottom: 3rem;
}

story-button > mambo-button {
  display: block;
  margin-bottom: 1rem;
}

story-button-svg > mambo-button {
  display: block;
  margin-bottom: 1rem;
}

story-button-group > mambo-button-group {
  display: block;
  margin-bottom: 1rem;
}
