ui-storyboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

card-container {
  position: relative;
  border: solid 6px var(--mambo-blue);
  width: 90vw;
  height: 90vh;
}

card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

card-header {
  display: flex;
  width: 100%;
  min-height: 3rem;
  max-height: 3rem;
  padding: 0.5rem;
}

card-body {
  display: flex;
  width: 100%;
  height: 100%;
}

storyboard-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

story-tab {
  display: block;
  width: 100%;
  height: 100%;
}

.mambo-btn {
  color: white;
  border: solid 1px white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  transition: 0.1s;
  background: transparent;
  margin: 0 0.25rem;
  height: fit-content;
}

.mambo-btn:hover {
  background-color: var(--mambo-blue);
  border-color: var(--mambo-blue);
}

.angle {
  border-top: 20px solid var(--mambo-dark);
  border-right: 20px solid transparent;
  filter: drop-shadow(4px 6px 0 var(--mambo-blue));
}

.angle-top-left {
  position: absolute;
  left: -6px;
  top: -6px;
}

.angle-top-right {
  position: absolute;
  right: -6px;
  top: -6px;
  transform: rotate(90deg);
}

.angle-bottom-left {
  position: absolute;
  left: -6px;
  bottom: -6px;
  transform: rotate(-90deg);
}

.angle-bottom-right {
  position: absolute;
  right: -6px;
  bottom: -6px;
  transform: rotate(180deg);
}

.bottom-tab {
  position: absolute;
  left: 50px;
  bottom: -20px;
  border-top: 20px solid var(--mambo-dark);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 250px;
  height: 0;
  filter: drop-shadow(3px 6px var(--mambo-blue)) drop-shadow(-6px 0 var(--mambo-blue));
}

.right-tab {
  position: absolute;
  right: -104px;
  top: 137px;
  border-top: 20px solid var(--mambo-dark);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 150px;
  height: 0;
  filter: drop-shadow(3px 6px var(--mambo-blue)) drop-shadow(-6px 0 var(--mambo-blue));
  transform: rotate(-90deg);
}

.close {
  position: absolute;
  right: -40px;
  top: 13px;
  width: 30px;
  height: 30px;
  border: solid 6px var(--mambo-blue);
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 5px;
}

.close::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 26px;
  border: solid 6px var(--mambo-blue);
  border-top: none;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  bottom: -12px;
  right: -1px;
}

.close::after {
  content: "\00D7";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--mambo-blue);
  border-radius: 4px;
  left: 6px;
  top: 5px;
  text-align: center;
  line-height: 16px;
  font-size: 32px;
  color: var(--mambo-dark);
}
