.m-textarea-self {
  display: flex;
}

.m-textarea-textarea {
  width: 100%;
  border: 1px solid var(--m-gray-200);
  border-radius: var(--m-border-radius-primary);
  padding: var(--m-padding-m);
  font-family: var(--m-font-family);
  font-size: var(--m-font-size-m);
  color: var(--m-body-color);
}

.m-textarea-textarea .m-input-button {
  background: none;
  cursor: pointer;
  color: var(--m-gray-300);
  border: var(--m-border);
  padding: var(--m-padding-s);
  font-size: var(--m-font-size-m);
}

.m-textarea-textarea .m-input-button:hover {
  color: var(--m-heading-color);
}
