.mambo-tab {
    display: flex;
    flex-direction: column;
}

.mambo-tab-content {
    display: none;
    border: 1px solid grey;
    padding: 0.5rem;
}

.mambo-tab-content.selected {
    display: flex;
}

.mambo-tab-contents {
    display: flex;
}

.mambo-tabs {
    display: flex;
}