.m-mambo-tab {
  display: flex;
  flex-direction: column;
}

.m-mambo-tab-content {
  display: none;
  border: 1px solid grey;
  padding: 0.5rem;
  width: 100%;
}

.m-mambo-tab-content.selected {
  display: flex;
}

.m-mambo-tab-contents {
  display: flex;
}

.m-mambo-tabs {
  display: flex;
}
