.m-search-self {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  position: relative;
}

.m-search-input-container {
  position: relative;
}

.m-search-input-container .m-button-self {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-search-input-wrapper {
  border: 1px solid #a9a9a9;
  display: flex;
  flex-grow: 1;
}

.m-search-input-input {
  border: none;
  padding: var(--m-padding-m);
  width: 100%;
}

.m-search-button {
  align-items: center;
  background: black;
  border: none;
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: var(--m-padding-m) var(--m-padding-xxl);
  position: relative;
  text-decoration: none;
}

.m-search-button.m-hover {
  background: #444;
}

.m-search-dropdown-container {
  display: none;
  background-color: #f8f8f8;
  box-shadow: 0.1rem 0.2rem 0.5rem 0 rgba(0 0 0/15%);
  left: 0;
  min-width: 14rem;
  overflow: auto;
  position: absolute;
  translate: 0 0.063rem;
  z-index: 999;
}

.m-search-dropdown-container.m-open {
  display: block;
}

.m-search-listbox-item {
  cursor: pointer;
  padding: var(--m-padding-m);
}

.m-search-listbox-item:hover {
  background-color: #a9a9a9;
}
