.m-tree-view-self {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  line-height: var(--m-line-height-xs);
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.m-tree-view-group {
  display: none;
  position: relative;
}

.m-tree-view-group.m-expanded {
  display: flex;
  flex-direction: column;
}

.m-tree-view-item {
  padding: 0 0 0 var(--m-padding-xxl);
}

.m-tree-view-item-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.m-tree-view-item-in {
  padding: var(--m-padding-s) var(--m-padding-m);
  cursor: default;
}

.m-tree-view-item-in.m-hover {
  background-color: var(--m-color-gray-light);
}

.m-tree-view-item-in.m-selected {
  color: var(--m-white-color);
  background-color: var(--m-accent-color);
}

.m-tree-view-item-icon {
  position: relative;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
