.m-time-picker-combobox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.m-time-picker-combobox-button {
  position: relative;
  height: 100%;
  color: white;
  font-size: 100%;
  padding: 0.25rem 0.5rem;
  background: black;
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-time-picker-combobox-button.m-hover {
  background: #444;
}

.m-time-picker-dropdown-container {
  display: none;
  position: absolute;
  width: 10rem;
  height: 15rem;
  background-color: #f8f8f8;
  box-shadow: 0.1rem 0.2rem 0.5rem 0 rgba(0 0 0 15%);
  overflow: auto;
  z-index: 999;
  left: 0;
}

.m-time-picker-dropdown-container.m-open {
  display: block;
}
