.m-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-button-group-button {
  color: var(--ui-color);
  font-size: var(--ui-font-size);
  padding: var(--ui-padding);
  margin: 0 0.2em;
  background: var(--ui-background-color);
  border: var(--ui-border);
  border-radius: var(--ui-border-radius);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-button-group-button:hover {
  background: var(--ui-hover-background-color);
}

.m-button-group-button.selected {
  color: var(--ui-selected-color);
  background: var(--ui-selected-background-color);
}

.m-button-group-img {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
}
