.m-buttonsvg-button {
  color: var(--m-text-color);
  font-size: var(--m-font-size);
  padding: var(--m-padding-s);
  background: var(--m-background-color);
  border: var(--m-border);
  border-radius: var(--m-border-radius);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-buttonsvg-button.m-hover {
  background: var(--m-hover-background-color);
}

.m-buttonsvg-button.m-selected {
  background: var(--m-selected-background-color);
}

.m-buttonsvg-img {
  height: 1.25em;
  margin: 0 0.5rem;
}

.m-buttonsvg-svg {
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.5rem;
}

.m-buttonsvg-svg path {
  fill: #fff;
}

.m-buttonsvg-disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
