.m-button-group-self {
  display: flex;
}

.m-button-group-img {
  width: 1rem;
  height: 1rem;
  margin: 0 var(--m-margin-m);
}

.m-button-group-button {
  color: var(--m-text-color);
  font-size: var(--m-font-size-m);
  padding: var(--m-padding-s);
  background: var(--m-background-color);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.m-button-group-button:hover {
  background: var(--m-hover-background-color);
}

.m-button-group-button.m-selected {
  color: var(--m-selected-color);
  background: var(--m-selected-background-color);
}