.draggable-container {
  position: relative;
  width: 400px;
  height: 200px;
  border: 1px solid #a9a9a9;
  margin-bottom: 20px;
}

.draggable-element {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  width: 140px;
  text-align: center;
  border-radius: 5px;
  top: 90px;
  left: 130px;
  padding: 5px;
  cursor: pointer;
}

.draggable-text {
  font-size: 1rem;
  pointer-events: none;
}
