.m-input-self {
  display: flex;
  border: 1px solid var(--m-gray-300);
  border-radius: 0.675rem;
  overflow: hidden;
  outline: none;
}

.m-input-self .m-button-self {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.20rem 0.25rem;
  margin: 0.50rem;
}

.m-input-self:focus-within {
  border-color: var(--m-black-color);
  overflow: hidden;
}

.m-input-self:active {
  border-color: green;
  overflow: hidden;
}

.m-input-input {
  width: 100%;
  border: none;
  padding: 1rem 1.25rem;
  outline: none;
}

.m-input-button {
  background: none;
  cursor: pointer;
  color: #ccc;
  border: none;
  padding: 0.25rem;
  font-size: 100%;
}

.m-input-button:hover {
  color: black;
  overflow: hidden;
}
