.m-date-picker-parent {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.m-date-picker-input-wrapper {
  display: flex;
  flex-grow: 1;
  border: 1px solid #a9a9a9;
}

.m-date-picker-input-input {
  width: 100%;
  border: none;
  padding: 0.4rem;
}

.m-date-picker-button {
  position: relative;
  height: 100%;
  color: white;
  font-size: 1.2rem;
  padding: 0;
  background: black;
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}

.m-date-picker-button.hover {
  background: #444;
}

.m-date-picker-button.selected {
  background: #444;
}

.m-date-picker-dropdown-container {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  box-shadow: 0.1rem 0.2rem 0.5rem 0 rgba(0 0 0 15%);
  overflow: auto;
  z-index: 999;
  left: 0;
}

.m-date-picker-dropdown-container.open {
  display: block;
}

.m-date-picker-calendar-parent {
  display: flex;
  flex-direction: column;

  /* width: 17em; */
  overflow: hidden;
  border: 1px solid #a9a9a9;
  border-radius: 0.25rem;
}

.m-date-picker-calendar-header {
  display: flex;
  flex-direction: row;
  width: 270px;
}

.m-date-picker-calendar-body {
  height: 13.5em;
}
