.m-drag-drop-self {
  padding: 1rem;
  border: 1px dashed #ccc;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  width: fit-content;
}

.m-drag-drop-self:hover {
  transform: scale(1.01);
  box-shadow: 0 0 0.25rem #ccc;
}

.m-drag-drop-icon {
  margin-bottom: 1rem;
  font-size: 3rem;
}
