* {
  /* Fonts */
  --m-font-family: "Ubuntu Light", sans-serif;
  --m-font-size: 1rem;
  --m-font-size-xs: 0.75rem;
  --m-font-size-s: 0.85rem;
  --m-font-size-m: 1rem;
  --m-font-size-lg: 1.25rem;
  --m-font-size-xl: 1.50rem;
  --m-font-size-xxl: 1.875rem;
  --m-font-size-xxxl: 2.125rem;

  /* Colors */
  --m-text-color: white;
  --m-disabled-text-color: #ccc;
  --m-background-color: black;
  --m-black-color: #000;
  --m-black-color-50: rgba(0 0 0 / 50%);
  --m-white-color: #FFF;
  --m-gray-100: #F3F4F5;
  --m-gray-200: #D0D4D9;
  --m-gray-300: #AEB3BC;
  --m-gray-400: #7B8493;
  --m-gray-500: #4D545E;
  --m-gray-600: #2A2E34;
  --m-info-color: #1C51A4;
  --m-success-color: #58790C;
  --m-warning-color: #82620F;
  --m-error-color: #AB2816;
  --m-info-stroke-color: #2C68C6;
  --m-success-stroke-color: #98C729;
  --m-warning-stroke-color: #E8B93F;
  --m-error-stroke-color: #DD331D;
  --m-info-background-color: #EDF4FF;
  --m-success-background-color: #F3FFD6;
  --m-warning-background-color: #FFF6E0;
  --m-error-background-color: #FDE7E5;

  /* Paddings */
  --m-padding-xs: 0.125rem;
  --m-padding-s: 0.25rem;
  --m-padding-m: 0.5rem;
  --m-padding-lg: 0.75rem;
  --m-padding-xl: 1rem;
  --m-padding-xxl: 1.25rem;
  --m-padding-xxxl: 1.5rem;
  --m-padding-xxxxl: 2rem;

  /* Margins */
  --m-margin-xs: 0.125rem;
  --m-margin-s: 0.25rem;
  --m-margin-m: 0.5rem;
  --m-margin-lg: 0.75rem;
  --m-margin-xl: 1rem;
  --m-margin-xxl: 1.25rem;
  --m-margin-xxxl: 1.5rem;
  --m-margin-xxxxl: 2rem;

  /* Borders */
  --m-border: none;
  --m-border-radius: 0;

  /* Hover */
  --m-hover-background-color: #555;
  --m-hover-color: white;
  --m-info-hover-color: #163F80;
  --m-success-hover-color: #4C6A0B;
  --m-warning-hover-color: #704F0D;
  --m-error-hover-color: #971F12;

  /* Selected */
  --m-selected-background-color: #e4e4e4;
  --m-selected-color: black;

  /* Toaster */
  --m-min-width-toaster-small: 14rem;
  --m-min-height-toaster-small: 3rem;
  --m-min-width-toaster-medium: 16rem;
  --m-min-height-toaster-medium: 3.5rem;
  --m-min-width-toaster-large: 18rem;
  --m-min-height-toaster-large: 4.5rem;
}
