* {
  /* Default */
  --m-hover-background-color: #555;
  --m-hover-color: white;
  --m-selected-background-color: #e4e4e4;
  --m-selected-color: black;
  --m-border: none;
  --m-border-radius: 0;
  --m-border-radius-primary: 0.5rem;
  --m-border-radius-secondary: 0.5rem;
  --m-text-color: white;
  --m-background-color: black;
  --m-pressed-background-color: #555;

  /* Fonts */
  --m-font-family: "Proxima Nova", "Ubuntu Light", sans-serif;
  --m-font-size: 1rem;
  --m-font-size-s: 0.833rem;
  --m-font-size-m: 1rem;
  --m-font-size-lg: 1.2rem;
  --m-font-weight-light: 300;
  --m-font-weight: 400;
  --m-font-weight-medium: 500;
  --m-font-weight-bold: 700;
  --m-font-weight-black: 900;
  --m-line-height: 1.5rem;
  --m-line-height-s: 1.20rem;
  --m-line-height-m: 1.25rem;
  --m-line-height-lg: 1.5rem;
  --m-box-shadow-primary: 0 2.145px 4.29px 0 rgba(173 175 187 / 30%);
  --m-box-shadow-secondary: 0 2.145px 4.29px 0 rgba(173 175 187 / 30%);
  --m-box-shadow-primary-hover: none;
  --m-box-shadow-primary-pressed: none;
  --m-box-shadow-primary-active: none;
  --m-box-shadow-primary-disabled: none;
  --m-box-shadow-primary-selected: none;
  --m-box-shadow-secondary-hover: 0 2.145px 4.29px 0 rgb(173 175 187 / 30%);
  --m-box-shadow-secondary-pressed: 0 2.145px 4.29px 0 rgb(173 175 187 / 30%);
  --m-box-shadow-secondary-active: 0 2.145px 4.29px 0 rgb(173 175 187 / 30%);
  --m-box-shadow-secondary-selected: 0 2.145px 4.29px 0 rgb(173 175 187 / 30%);
  --m-box-shadow-secondary-disabled: 0 2.145px 4.29px 0 rgb(173 175 187 / 30%);

  /* 10% 30% 60% Rule */
  --m-accent-color: #e66423;
  --m-secondary-color: #edF4FF;
  --m-main-color: #fbfbfb;

  /* Typography */
  --m-heading-color: rgb(20 24 31);
  --m-body-color: rgb(65 71 80);
  --m-disabled-text-color: rgb(86 94 105);
  --m-placeholder-color: rgb(139 147 159);
  --m-informative-color: rgb(28 81 164);
  --m-success-color: rgb(88 121 12);
  --m-warning-color: rgb(130 98 15);
  --m-error-color: rgb(171 40 22);

  /* Stroke / Fill */
  --m-informative-stroke-color: rgb(44 104 198);
  --m-success-stroke-color: rgb(152 199 41);
  --m-warning-stroke-color: rgb(232 185 63);
  --m-error-stroke-color: rgb(221 51 29);

  /* Background */
  --m-primary-background-color: rgb(237 244 255);
  --m-disabled-background-color: rgb(224 226 229);
  --m-success-background-color: rgb(243 255 214);
  --m-warning-background-color: rgb(255 246 224);
  --m-error-background-color: rgb(253 231 229);

  /* States */
  --m-accent-primary-color: var(--m-accent-color);
  --m-accent-secondary-color: var(--m-white-color);
  --m-active-primary-background-color: calc((var(--m-accent-primary-color) + var(--m-selected-primary-background-color)) / 2);
  --m-active-secondary-background-color: calc((var(--m-accent-secondary-color) + var(--m-selected-secondary-background-color)) / 2);
  --m-selected-primary-background-color: rgb(249 128 67);
  --m-selected-secondary-background-color: rgb(255 240 233);
  --m-pressed-primary-background-color: rgb(216 72 0);
  --m-pressed-secondary-background-color: rgb(255 220 203);
  --m-hover-primary-background-color: rgb(249 128 67);
  --m-hover-secondary-background-color: rgb(255 240 233);

  /* Gray Scale | White */
  --m-white-color: rgb(255 255 255);
  --m-gray-100: rgb(243 244 245);
  --m-gray-200: rgb(208 212 217);
  --m-gray-300: rgb(174 179 188);
  --m-gray-400: rgb(123 132 147);
  --m-gray-500: rgb(77 84 94);
  --m-gray-600: rgb(42 46 52);

  /* Paddings */
  --m-padding-xs: 0.125rem;
  --m-padding-s: 0.25rem;
  --m-padding-m: 0.5rem;
  --m-padding-lg: 0.75rem;
  --m-padding-xl: 0.875rem;
  --m-padding-xxl: 1rem;
  --m-padding-xxxl: 1.25rem;
  --m-padding-xxxxl: 1.5rem;
}
