* {
  /* Fonts */
  --m-font-family: "Ubuntu Light", sans-serif;
  --m-font-size: 1rem;
  --m-font-size-m: 1rem;
  --m-font-size-lg: 1.2rem;

  /* Colors */
  --m-text-color: white;
  --m-disabled-text-color: #ccc;
  --m-background-color: black;
  --m-error-color: red;
  --m-black-color: #000;
  --m-white-color: #FFF;
  --m-gray-100: #F3F4F5;
  --m-gray-200: #D0D4D9;
  --m-gray-300: #AEB3BC;
  --m-gray-400: #7B8493;
  --m-gray-500: #4D545E;
  --m-gray-600: #2A2E34;

  /* Paddings */
  --m-padding-xs: 0.125rem;
  --m-padding-s: 0.25rem;
  --m-padding-m: 0.5rem;
  --m-padding-lg: 0.75rem;
  --m-padding-xl: 0.875rem;
  --m-padding-xxl: 1rem;
  --m-padding-xxxl: 1.25rem;
  --m-padding-xxxxl: 1.5rem;

  /* Margins */
  --m-margin-xs: 0.125rem;
  --m-margin-s: 0.25rem;
  --m-margin-m: 0.5rem;
  --m-margin-lg: 0.75rem;
  --m-margin-xl: 0.875rem;
  --m-margin-xxl: 1rem;
  --m-margin-xxxl: 1.25rem;
  --m-margin-xxxxl: 1.5rem;

  /* Borders */
  --m-border: none;
  --m-border-radius: 0;

  /* Hover */
  --m-hover-background-color: #555;
  --m-hover-color: white;

  /* Selected */
  --m-selected-background-color: #e4e4e4;
  --m-selected-color: black;
}
