.m-button-button {
  color: var(--m-text-color);
  font-size: var(--m-font-size-m);
  padding: var(--m-padding-m) var(--m-padding-m);
  background: var(--m-background-color);
  border: var(--m-border);
  border-radius: var(--m-border-radius);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-button-button.m-hover {
  background: var(--m-hover-background-color);
}

.m-button-button.m-selected {
  background: var(--m-selected-background-color);
}

.m-button-img {
  height: 1.25em;
  margin: 0 var(--m-margin-m);
}

.m-button-icon {
  height: 1.25em;
  margin: 0 var(--m-margin-m);
  align-content: center;
}

.m-button-disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
