.m-button-button {
  color: var(--m-text-color);
  font-size: var(--m-font-size);
  padding: var(--m-padding-s);
  background: var(--m-background-color);
  border: var(--m-border);
  border-radius: var(--m-border-radius);
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.m-button-button.m-hover {
  background: var(--m-hover-background-color);
}

.m-button-button.m-selected {
  background: var(--m-selected-background-color);
}

.m-button-button.m-pressed {
  background: var(--m-pressed-background-color);
}

.m-button-button:active {
  background: black;
}

.m-button-disabled {
  cursor: default;
  pointer-events: none;
}

.m-button-button.primary {
  color: var(--m-white-color);
  background: var(--m-accent-primary-color);
  font-style: normal;
  font-weight: var(--m-font-weight);
  line-height: var(--m-line-height);
  box-shadow: var(--m-box-shadow-primary);
  border-radius: var(--m-border-radius-primary);
  gap: 0.625rem;
}


.m-button-button.primary:active {
  background: var(--m-active-primary-background-color);
  box-shadow: var(--m-box-shadow-pressed);
}

.m-button-button.primary.m-hover {
  background: var(--m-hover-primary-background-color);
  box-shadow: var(--m-box-shadow-primary-hover);
}

.m-button-button.primary.m-button-disabled {
  background: var(--m-disabled-background-color);
  box-shadow: var(--m-box-shadow-primary-disabled);
  cursor: default;
  pointer-events: none;
  color: var(--m-disabled-text-color);
}

.m-button-button.primary.m-pressed {
  background: var(--m-pressed-primary-background-color);
  box-shadow: var(--m-box-shadow-primary-active);
}

.m-button-button.secondary {
  background: var(--m-accent-secondary-color);
  color: var(--m-accent-color);
  border: 1.4px solid var(--m-gray-200);
  box-shadow: var(--m-box-shadow-secondary);
  border-radius: var(--m-border-radius-secondary);
  gap: 0.625rem;
}

.m-button-button.secondary.m-hover {
  background: var(--m-hover-secondary-background-color);
  box-shadow: var(--m-box-shadow-secondary-hover);
}

.m-button-button.secondary:active {
  background: var(--m-active-secondary-background-color);
  box-shadow: var(--m-box-shadow-secondary-active);
}

.m-button-button.secondary.m-pressed {
  background: var(--m-pressed-secondary-background-color);
  box-shadow: var(--m-box-shadow-secondary-active);
}

.m-button-button.secondary.m-button-disabled {
  background: var(--m-disabled-background-color);
  box-shadow: var(--m-box-shadow-secondary-disabled);
  cursor: default;
  pointer-events: none;
  color: var(--m-disabled-text-color);
}

.m-button-button.small {
  padding: var(--m-padding-m) var(--m-padding-xxl);
  font-size: var(--m-font-size-s);
  line-height: var(--m-line-height-s);
}

.m-button-button.small.notext {
  padding: var(--m-padding-m) var(--m-padding-m);
  font-size: var(--m-font-size-s);
  line-height: var(--m-line-height-s);
}

.m-button-button.medium {
  padding: var(--m-padding-m) var(--m-padding-xxxl);
  font-size: var(--m-font-size-m);
  line-height: var(--m-line-height-m);
}

.m-button-button.medium.notext {
  padding: var(--m-padding-m) var(--m-padding-m);
  font-size: var(--m-font-size-m);
  line-height: var(--m-line-height-m);
}

.m-button-button.large {
  padding: var(--m-padding-xxl) var(--m-padding-xxxxl);
  font-size: var(--m-font-size-lg);
  line-height: var(--m-line-height-lg);
}

.m-button-button.large.notext {
  padding: var(--m-padding-xxl) var(--m-padding-xxl);
  font-size: var(--m-font-size-lg);
  line-height: var(--m-line-height-lg);
}

.m-button-img {
  height: 1.25em;
  margin: 0 0.5rem;
}

.m-button-icon {
  height: 1.25em;
  margin: 0 0.3rem;
  align-content: center;
}

.m-button-icon.large {
  width: 1.5rem;
  height: 1.5rem;
  align-content: center;
  margin: 0;
}

.m-button-icon.medium {
  width: 1.5rem;
  height: 1.5rem;
  align-content: center;
  margin: 0;
}

.m-button-icon.small {
  width: 1rem;
  height: 1rem;
  align-content: center;
  margin: 0;
}

.m-button-button.secondary.m-selected {
  background: var(--m-selected-secondary-background-color);
}
