.time-picker-parent {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.time-picker-combobox-button {
  position: relative;
  height: 100%;
  color: white;
  font-size: 1.2rem;
  padding: 0;
  background: black;
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-picker-combobox-button.hover {
  background: #444;
}

.time-picker-combobox-button.selected {
  background: #444;
}

.time-picker-dropdown-container {
  display: none;
  position: absolute;
  width: 10rem;
  height: 15rem;
  background-color: #f8f8f8;
  box-shadow: 0.1rem 0.2rem 0.5rem 0 rgba(0 0 0 15%);
  overflow: auto;
  z-index: 999;
  left: 0;
}

.time-picker-dropdown-container.open {
  display: block;
}
