.m-checkbox-radio-label {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;
}

.m-checkbox-radio-text {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.m-checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

.m-checkbox-span {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #eee;
}

.m-checkbox-input:checked ~ .m-checkbox-span {
  background-color: #000;
}

.m-checkbox-span::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.m-checkbox-input:checked ~ .m-checkbox-span::after {
  display: block;
}

.m-radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

.m-checkbox-radio-span {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #eee;
  border-radius: 50%;
}

.m-radio-input:checked ~ .m-checkbox-radio-span {
  background-color: #000;
}

.m-checkbox-radio-span::after {
  content: "";
  position: absolute;
  display: none;
  top: 0.5rem;
  left: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: white;
}

.m-radio-input:checked ~ .m-checkbox-radio-span::after {
  display: block;
}

.m-checkbox-radio-disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
