.m-radio-container {
  display: block;
  position: relative;
  padding-left: 2.5rem;
  cursor: pointer;
  user-select: none;
}

.m-radio-container.right {
  padding-left: 0;
  padding-right: 2.5rem;
}

.m-radio-text {
  font-size: 1rem;
  line-height: 1.5rem;
  display: inline-block;
  color: var(--m-body-color);
  font-weight: var(--m-font-weight);
}

.m-radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

.m-radio-span {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #eee;
  border-radius: 50%;
}

.m-radio-container.right .m-radio-span {
  left: auto;
  right: 0;
}

.m-radio-input:checked ~ .m-radio-span {
  background-color: var(--m-accent-color);
}

.m-radio-span::after {
  content: "";
  position: absolute;
  display: none;
  top: 0.375rem;
  left: 0.375rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: white;
}

.m-radio-input:checked ~ .m-radio-span::after {
  display: block;
}

.m-radio-disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
