.m-combobox-self {
  position: relative;
  display: flex;
  flex-direction: column;
}

.m-combobox-self .m-input-container {
  padding: 0;
  border: none;
  border-radius: var(--m-border-radius-primary) 0 0 var(--m-border-radius-primary);
}

.m-combobox-self label {
  font-size: var(--m-font-size-xs);
  padding-bottom: var(--m-padding-m);
  font-weight: var(--m-font-weight-regular);
}

.m-combobox-container {
  display: flex;
  flex-direction: row;
  position: relative;
  border: 1px solid var(--m-gray-200);
  border-radius: var(--m-border-radius-primary);
}

.m-combobox-input-input {
  width: 100%;
  padding: var(--m-padding-lg);
  background-color: var(--m-gray-100);
  color: var(--m-placeholder-color);
  font-weight: var(--m-font-weight-regular);
  border: none;
  outline: none;
}

.m-combobox-container:focus-within {
  border: 1px solid var(--m-gray-400);

}

.m-combobox-input-wrapper {
  display: flex;
  flex-grow: 1;
}

.m-combobox-input-input.m-selected {
  color: var(--m-body-color);
}

.m-combobox-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--m-gray-100);
  padding: var(--m-padding-m) var(--m-padding-xxl);
  border-top-right-radius: var(--m-border-radius-primary);
  border-bottom-right-radius: var(--m-border-radius-primary);
}

.m-combobox-button::before {
  position: absolute;
  content: "";
  margin: auto;
  width: 0.375rem;
  height: 0.375rem;
  border-right: 1px solid #14181F;
  border-bottom: 1px solid #14181F;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
  background: transparent;
}

.m-combobox-dropdown-container {
  display: none;
  position: absolute;
  top: 2.5rem;
  width: 100%;
  height: auto;
  background-color: var(--m-gray-100);
  box-shadow: 0.1rem 0.2rem 0.5rem 0 rgba(0 0 0/15%);
  overflow: auto;
  z-index: 999;
  left: 0;
}

.m-combobox-dropdown-container.m-open {
  display: block;
  border: 1px solid var(--m-gray-400);
  border-radius: var(--m-border-radius-primary);
}

.m-combobox-button-group {
  display: flex;
  flex-direction: column;
}

.m-combobox-button-group-button {
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--m-black-color);
  font-size: var(--m-font-size-s);
  padding: var(--m-padding-m);
  background-color: white;
  width: 100%;
}

.m-combobox-button-group-button:hover {
  background-color: var(--m-gray-100);
}

.m-combobox-button-group-button.m-selected {
  background-color: var(--m-gray-100);
}
