.m-combobox-self {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 1px solid var(--m-gray-200);
  border-radius: var(--m-border-radius-primary);
}

.m-combobox-self .m-input-container {
  padding: 0;
  border: none;
}

.m-combobox-input-input {
  width: 100%;
  padding: var(--m-padding-lg) var(--m-padding-xxl);
  font-size: 1rem;
  background-color: var(--m-gray-100);
  color: var(--m-placeholder-color);
  font-weight: var(--m-font-weight-regular);
}

.m-combobox-self .m-combobox-input-input {
  border: 1px solid transparent;
  border-radius: var(--m-border-radius-primary);  ;
}

.m-combobox-self:hover {
  border: 1px solid var(--m-accent-color);
  border-radius: var(--m-border-radius-primary);
}

.m-combobox-self:focus-within {
  border: 1px solid var(--m-gray-400);
  border-radius: var(--m-border-radius-primary);
}

.m-combobox-self > .m-input-self > .m-combobox-input-input:focus {
  outline: none;
}

.m-combobox-input-wrapper {
  display: flex;
  flex-grow: 1;
}


.m-combobox-input-input.m-selected {
  background-color: #fff;
  color: var(--m-gray-500);
}

.m-combobox-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: var(--m-margin-xxl);
}

.m-combobox-button::before {
  position: absolute;
  content: "";
  inset: 0;
  bottom: 0.25rem;
  right: 0;
  margin: auto;
  width: 0.375rem;
  height: 0.375rem;
  border-right: 1px solid #14181F;
  border-bottom: 1px solid #14181F;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
  background: transparent;
}

.m-combobox-dropdown-container {
  display: none;
  position: absolute;
  top: 3rem;
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  box-shadow: 0.1rem 0.2rem 0.5rem 0 rgba(0 0 0/15%);
  overflow: auto;
  z-index: 999;
  left: 0;
}

.m-combobox-dropdown-container.m-open {
  display: block;
  border: 1px solid var(--m-gray-400);
  border-radius: var(--m-border-radius-primary);
}

.m-combobox-button-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.m-combobox-button-group-button {
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #000;
  font-size: 0.85rem;
  padding: var(--m-padding-m);
  background-color: #f8f8f8;
  width: 100%;
}

.m-combobox-button-group-button:hover {
  background-color: var(--m-gray-300);
}

.m-combobox-button-group-button.m-selected {
  background-color: var(--m-gray-300);
}
